////////////////////////////////////
//////////HEADER////////////////////
////////////////////////////////////

////LOGO
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

////SEARCH
.search {
  flex: 0 0 40%;

  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-smallest) {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);

  }

  &__input {
    font-family: inherit; //don't inherit parent's font by default
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    padding: .7rem 2rem;
    border: none;
    border-radius: 100px;
    width: 90%;
    margin-right: -3.5rem;
    transition: all .2s;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);

      @media only screen and (max-width: $bp-smallest) {
        background-color: var(--color-grey-light-2);

      }
    }

    &::-webkit-input-placeholder {
      color: var(--color-grey-light-4);
      font-weight: 100;
    }
  }

  &__button {
    border: none;
    background-color: transparent;
    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
    cursor: pointer;
  }
}

////TOP NAVIGATION
.user-nav {
  align-self: stretch;

  display: flex;
  align-items: center;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }
  &__notification {
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    font-size: .7rem;
    height: 1.75rem;
    width: 1.75rem;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 50%;
    text-align: center;
    padding-top: .3rem;
  }

  &__user-photo {
    height: 3.75rem;
    width: auto;
    border-radius: 50%;
    margin-right: 1rem;

  }
}

///////////////////////////////////////////
///////////////SIDE BAR////////////////////
///////////////////////////////////////////

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  @media only screen and (max-width: $bp-medium) {
    display: flex;
    margin: 0;
  }

  &__item {
    position: relative;

    @media only screen and (max-width: $bp-medium) {
      flex: 1; //occupy all space (each item will have equal width)
      margin: 0;
    }

    &:not(:last-child) {
      margin-bottom: .5rem;
      @media only screen and (max-width: $bp-medium) {
        margin: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 3px;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform .2s,
      width .4s cubic-bezier(1, 0, 0, 1) .2s,
      background-color .1s;
    }

    &:hover::before,
    &--active::before {
      transform: scaleY(1);
      width: 100%;
    }
    &:active::before {
      background-color: var(--color-primary-light);
    }

  }

  &__link:link,
  &__link:visited {
    position: relative;
    padding: 1.5rem 3rem;
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    z-index: 10;

    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      justify-content: center;
    }

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      padding: 1.5rem .5rem;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; //color of parent element.change automatically with parent

    @media only screen and (max-width: $bp-small) {
      margin-right: 0;
      margin-bottom: .7rem;
      width: 1.5rem;
      height: 1.5rem;
    }

  }

}

///LEGAL TEXT
.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4);
  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}

////////////////////////////////////////////
//////////HOTEL-VIEW////////////////////////
////////////////////////////////////////////

.gallery {
  display: flex;

  &__photo {
    display: block;
    width: 100%;
  }
}

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
  }
  &__stars {
    margin-right: auto;
    display: flex;
  }
  &__icon-star,
  &__icon-location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary);
  }
  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }
  &__icon-location {
    margin-right: .5rem;
  }
  &__rating {
    align-self: stretch;
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    padding: 0 2.25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: .3rem;
  }
  &__rating-count {
    font-size: .8rem;
    text-transform: uppercase;
  }

}

.btn-inline {
  display: inline-block;
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  padding-bottom: .2rem;
  background-color: transparent;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all .2s;

  span {
    margin-left: 3px;
    transition: margin-left .2s;
  }
  &:hover {
    color: var(--color-grey-dark-1);

    span {
      margin-left: 8px;
    }
  }
  &:focus {
    outline: none;
    animation: pulsate .2s infinite; //blinking need to be fixed
  }
}

//useless animation.just for testing
@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, .2);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }

}

////////////////////////////////////////
/////////////DESCRIPTION///////////////
///////////////////////////////////////
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

///////////LIST
.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem;
  border-top: var(--line);
  border-bottom: var(--line);

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: .7rem;

    &::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: 1.5rem;

      //older browsers
      background-image: url("../img/chevron-thin-right.svg");
      background-size: cover;

      //newer browsers
      @supports (-webkit-mask-image: url("../img/chevron-thin-right.svg")) or (mask-image: url("../img/chevron-thin-right.svg")) {
        background-color: var(--color-primary);
        //code below could be replaced in html instead of css(8 same block of html will be added), but for training purpose it used like below
        -webkit-mask-image: url("../img/chevron-thin-right.svg"); // allows to see background through image
        mask-image: url("../img/chevron-thin-right.svg");
        -webkit-mask-size: cover; // set all image as transparent,not parts of it
        mask-size: cover;
        background-image: none; //delete bckgrnd-img declared above for older browsers
      }

    }
  }

}

///////////RECOMMEND
.recommend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);

  &__count {
    //margin-right:auto;
  }
  &__friends {
    display: flex; // photos inside recommend__friends will be always side-by-side without wrap when screen decreased
  }
  &__photo {
    box-sizing: content-box; // border will be not calculated as a part of container (like in border-box setted in "_base"
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;

    &:not(:last-child) {
      margin-right: -2rem;
    }
  }
}

////////////////////////////////////////
/////////////REVIEWS////////////////////
////////////////////////////////////////

.review {
  background-color: var(--line);
  position: relative;
  padding: 3rem;
  margin-bottom: 3.5rem;
  box-shadow: var(--shadow-light);
  overflow: hidden;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-bottom: 3rem;
  }

  &__text {
    margin-bottom: 2rem;
    position: relative;
    z-index: 10;
  }
  &__user {
    display: flex;
    align-items: center;
  }
  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }
  &__user-box {
    margin-right: auto;
    font-size: 1rem;
  }
  &__user-name {
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: .4rem;
  }
  &__user-date {
    font-size: 1rem;
  }
  &__rating {
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 300;
  }
  &::before {
    content: "\201C";
    font-size: 20rem;
    line-height: 1;
    font-family: sans-serif;
    color: var(--color-grey-light-5);
    position: absolute;
    top: -2.7rem;
    left: -1rem;
    z-index: 1;
  }

}

/////////////////////////////////////////
/////////////CTA/////////////////////////
/////////////////////////////////////////
.cta {
  padding: 3.5rem 0;
  text-align: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 2.5rem 0;
  }

  &__book-now {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
  }
}

.btn {
  position: relative;
  border: none;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: #fff;
  cursor: pointer;
  overflow: hidden;

  & > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s;
  }
  &__visible {
    padding: 2rem 7.5rem;
  }
  &__invisible {
    position: absolute;
    left: 0;
    top: -100%;
    padding: 2rem 0; //
  }
  &:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
  }
  &:hover &__visible {
    transform: translateY(100%);
  }
  &:hover &__invisible {
    top: 0;
  }
  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}
